*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}


.container{
  background-color: #e5e5fd;
  min-height: 100vh;
  border: 10px solid #1d1e4c;
}
.content{
  max-width: 900px;
  margin: 0 auto;
}

.image-content{
  border-radius: 50%;
  overflow: hidden;
}
.image-content , img{
width: 300px;
height: 320px;
}
.top-section{
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.top-section h1{
  font-size: 40px;
  font-weight: bold;
  color:#1d1e4c ;
  text-transform: uppercase;
  
}
.top-section h4{
  text-align: end;
  font-size: 30px;
}
.about-section{
  margin-top: 50px;
}
.about-section h1{
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 20px;
}
.about-section p{
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 1.2px;
text-align: justify;
}
.biography{
  margin-top: 50px ,0;
}
.biography h2{
margin-bottom: 20px;
}
.biography li{
margin-bottom: 15px;
}
.biography li{
  margin-left: 20px;
}
footer{
  margin-top: 20px;

}
footer p{
  text-align: end;

}
